/activation-1.1.jar
/bcpkix-jdk15on-1.50-javadoc.jar
/bcpkix-jdk15on-1.50-sources.jar
/bcpkix-jdk15on-1.50.jar
/bcprov-jdk15on-1.50-javadoc.jar
/bcprov-jdk15on-1.50-sources.jar
/bcprov-jdk15on-1.50.jar
/geronimo-jms_1.1_spec-1.0.jar
/javaee-api-5.0-2.jar
/log4j-1.2.17-javadoc.jar
/log4j-1.2.17-sources.jar
/log4j-1.2.17.jar
/mail-1.4.3.jar
